<% @title = "#{@user.nickname}: 発売日一覧" %>
<%
  current_page = params[:page]? params[:page].to_i : 1
  # 40個以上ある=次のページがある
  if @user_products.size > 40
    next_page = true
    @user_products.pop
  else
    next_page = false
  end

  if current_page > 1
    prev_page = true
    prev_page_num = current_page - 1
    prev_page_num = nil if prev_page_num == 1
  else
    prev_page = false
  end
%>

<%= render :partial => 'products/list', :locals => {:login_user => @login_user, :user => @user, :user_products => @user_products} %>

<div class="paginate">
  <div class="next">
    <% if next_page %>
      <%= link_to({:page => current_page + 1}, {:class => 'button fill-blue text-white'}) do %>
        <i class="icon icon-arrow-left"></i>
        前へ
      <% end %>
    <% end %>
  </div>

  <div class="prev">
    <% if prev_page %>
      <%= link_to({:page => prev_page_num}, {:class => 'button fill-blue text-white'}) do %>
        <i class="icon icon-arrow-right"></i>
        次へ
      <% end %>
    <% end %>
  </div>
</div>
