<% @title = "#{@user.nickname}: 発売日一覧" %>

<%= render :partial => 'products/list', :locals => {:login_user => @login_user, :user => @user, :user_products => @user_products} %>

<div class="paginate">

</div>
