log4r_config:
  loggers:
    - name: "production_logger"
      type: "Log4r::Logger"
      outputters:
        - "file"
        - "mail"

  outputters:
    - name: "file"
      type: "Log4r::FileOutputter"
      level: "INFO"
      filename: "log/production.log"
      trunc: "false"
      formatter:
        name: "fileformatter"
        type: "Log4r::PatternFormatter"
        pattern: "%d [%l]: %M"
        data_pattern: "%Y/%m/%d %H:%M%S"

    - name: "mail"
      type: "Log4r::EmailOutputter"
      level: "ERROR"
      server: "smtp.gmail.com"
      port: 587
      acct: ""
      passwd: ""
      authtype: "plain"
      from: ""
      to: ""
      subject: "ERROR: Dokusho"
      buffsize: 10
      formatter:
        name: "fileformatter"
        type: "Log4r::PatternFormatter"
        pattern: "%d [%l]: %M"
        data_pattern: "%Y/%m/%d %H:%M%S"
