<li data-id="<%= user_keyword.id %>">
  <div class="value">
    <%= user_keyword.keyword.value %>
  </div>

  <div class="buttons">
    <button class="mdl-button mdl-js-button mdl-button--icon delete" data-id="<%= user_keyword.id %>">
      <i class="material-icons">delete</i>
    </button>
  </div>
</li>
