.mdl-layout__drawer {
  header {
    padding: 16px;
    display: flex;
    align-items: center;

    .username {
      flex: 1;
      margin: 4px;
    }

    img.avater {
      margin-right: 10px;
      max-height: 48px;
      max-width: 48px;
    }
  }

  nav {
    a.mdl-navigation__link {
      align-items: center;
      display: flex !important;
      font-size: 14px;

      i {
        margin: 0 4px 0 -4px;
      }
    }
  }
}

.pagination {
  display: flex;
  margin: 16px 80px 24px;

  .prev,.next {
    width: 50%;
  }

  .next {
    text-align: right;
  }
}

.right-bottom-fab {
  bottom: 124px;
  position: fixed;
  right: 16px;
  z-index: 1000;
}

.right-bottom-fab-spacer {
  height: 64px;
}

footer {
  .mdl-logo {
    img {
      margin-top: 5px;
    }
  }

  .mdl-mini-footer__link-list {
    flex-wrap: wrap;
  }
}

/*
Android Chrome用hack
https://github.com/google/material-design-lite/issues/1072#issuecomment-123445135
*/
@media (max-width: $grid-tablet-breakpoint) {
  .mdl-layout {
      overflow: visible;
  }
  .mdl-layout__drawer {
      position: fixed;
  }
  .mdl-layout__content {
      display: block;
      overflow: visible;
      margin-top: 64px;
  }
  .is-small-screen .mdl-layout__content {
      margin-top: 56px;
  }
  .mdl-layout__header {
      position: fixed;
  }
  .mdl-layout__obfuscator {
      position: fixed;
  }

  /*
  Android Chrome用hack
  https://github.com/google/material-design-lite/issues/1072#issuecomment-187259322
  */
  html, body {
    overflow-y: auto;
    min-height: 100%;
  }

  mdl-layout {
    min-height: 100%;
  }
}

.product-list {
  align-items: flex-start;
  margin: auto;
  max-width: 850px;
  padding: 15px;

  &>li {
    display: flex;
    list-style-type: none;
    margin: 0 0 16px 0;

    .authors,.store-link,.tags>ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      li {
        list-style-type: none;
        margin: 0 4px 0 0;
      }
    }

    .buttons {
      text-align: right;
    }

    .details {
      flex: 1;
    }

    .thumbnail {
      margin-right: 10px;
    }

    .title {
      font-size: 120%;
    }

    table {
      th {
        text-align: right;
        white-space: nowrap;
      }
    }
  }
}

dialog.product {
  .tag-selector {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    li {
      cursor: pointer;
      list-style-type: none;
      margin: 0 4px 0 0;

      &.selected {
        font-weight: bold;
      }
    }
  }
}
