.paginate {
  display: flex;
  justify-content: space-between;

  .next,.prev {
    padding: 10px;
  }
}

.product-list {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  >li {
    align-items: stretch;
    display: flex;
    margin: 5px;
    width: 300px;

    .buttons {
      bottom: 0;
      margin: 5px;
      position: absolute;
      right: 0;
    }

    .buttons-margin {
      height: 40px;
    }

    .card {
      position: relative;
    }

    .content {
      display: table;

      .details {
        display: table-cell;
        padding: 0 15px 0 10px;
        text-align: left;
        width: 190px;
        vertical-align: top;

        table {
          tr{
            th {
              font-weight: bold;
              padding: 0 0.5em 0 0;
              text-align: right;
              white-space: nowrap;
              vertical-align: top;
            }

            td {
              ul {
                list-style-type: none;
              }
            }
          }
        }
      }

      .thumbnail {
        display: table-cell;
        padding: 0 0 0 15px;
        text-align: center;
        width: 100px;
        vertical-align: top;
      }
    }

    .mod-cards {
      align-items: stretch;
      display: flex;
    }

    .store-link {
      padding: 5px;
      text-align: right;

      li {
        display: inline;
      }
    }

    .tags {
      padding: 5px;
      text-align: right;

      ul>li {
        display: inline;
        margin: 0 2px;
        padding: 2px 2px 2px 4px;

        a {
          white-space: nowrap;
        }
      }
    }

    .title {
      padding: 10px;
      width: 300px;
    }
  }
}

.product.modal {
  .modal-inner {
    .body {
      .tag-selector {
        margin: 10px 0 0 0;

        li {
          border-radius: 2px;
          cursor: pointer;
          display: inline;
          margin: 0 2px;
          padding: 2px 2px 2px 4px;
          white-space: nowrap;

          i {
            color: transparent;
          }

          &.selected {
            background-color: #d0d9ff;
            i {
              color: #424242;
            }
          }
        }
      }
    }
  }
}

#header {
  @media (min-width: 400px) {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 400px) {
    .banner {
      text-align: center;
    }

    .navigation {
      text-align: right;
    }
  }

  .navigation {
    padding: 5px;

    .drop.down {
      width: 200px;
      z-index: 12;
    }
  }
}
