body {
  a {
    color: #5677fc;

    &:hover {
      color: #91a7ff;
    }

    &.list-item:hover:hover {
      color: #91a7ff;
    }
  }
}

input[type="text"]:focus,textarea:focus {
  border-color: #5677fc !important;
}

.button {
  text-transform: none !important;

  &.text {
    line-height: 16px !important;

    &:hover {
      background: none !important;
      color: #91a7ff !important;
    }
  }

  &:hover {
    background-color: #455ede !important;
  }

  &.disabled:hover {
    background-color: #eee !important;
  }
}

.modal {
  .modal-inner {
    display:flex;
    justify-content : center;
    margin: auto;
    bottom: auto !important;

    .body {
      padding: 0 10px;
    }

    .card {
      min-width: 80%;
    }

    .footer {
      display: flex;

      .left,.right {
        padding: 10px;
        width: 50%;
      }

      .right {
        text-align: right;
      }
    }

    .header {
      font-size: 120%;
      margin: 0 0 15px 0;
      padding: 15px;
    }
  }
}

div.onoffswitch {
  label.switch {
    div.inner {
      display: flex;

      div.on {
        background-color: #5677fc;
        margin: 0;
      }
    }
  }

  &.disabled {
    label.switch div.inner div.on {
      background-color: #e7e9fd;
    }
  }
}
