// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.products {
  >.details {
    @media (min-width: 720px) {
      display: flex;
    }

    >div {
      padding: 10px;

      .card {
        width: 100%;

        .content {
          @media (min-width: 400px) {
            display: flex;
          }

          .thumbnail {
            text-align: center;
            width: 250px;
          }
        }

        .details {
          table {
            tr{
              th {
                font-weight: bold;
                padding: 0 0.5em 0 0;
                text-align: right;
                white-space: nowrap;
                vertical-align: top;
              }

              td {
                ul {
                  list-style-type: none;
                }
              }
            }
          }
        }

        .store-link {
          padding: 5px;
          text-align: right;

          li {
            display: inline;
          }
        }
      }

      .title {
        font-size: 120%;
        padding: 10px;
      }
    }

    >div,>ul {
      @media (min-width: 720px) {
        width: 50%;
      }
    }
  }
}
