body.user_products {
  &>.tags {
    padding: 5px;
    text-align: center;

    ul>li {
      border-radius: 2px;
      display: inline;
      margin: 0 2px;
      padding: 2px 2px 2px 4px;

      &.selected {
        background-color: #d0d9ff;
      }
    }
  }
}
